
.navDiv{
    float: left;
    width: 20%;
    height: 900px;
    background-color: red;
}

.bigDiv{
    float: left;
    width: 80%;
    height: 900px;
    background-color: blue;
}

.hefo{
    width: 100%;
    background-color: aqua;
    height: 150px;
    float: left;
}

.article{
    width: 80%;
    background-color: blueviolet;
    height: 600px;
    float: left;;
}

.aside{
    width: 20%;
    background-color: black;
    height: 600px;
    float: left;
}


